@import url("./components//NoteCreate/note-create.css");
@import url("./components/ColorPallete/color-pallete.css");
@import url("./components/Pin/pin.css");
@import url("./components/NotesLists/notesList.css");
@import url("./components/NoteView/noteview.css");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.note-btn {
  margin: 0px;
  width: 32px;
  height: 32px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 100px;
  position: relative;
}
.note-btn:hover {
  background-color: rgba(95, 99, 104, 0.157);
}
